* {
  box-sizing: border-box;
}


body {
  margin: 0;
  border-radius: 10px;
  background-color: var(--background, #55443e);
  color: var(--text-color, black);
  user-select: none;
  -webkit-app-region: drag;
  button,
  select,
  input,
  a {
    -webkit-app-region: no-drag;
}
}


body:has(select option[value="dark"]:checked){
  --background: #291f1b;
  --text-color: white;
}


button {
  padding: 10px 20px;
}

.botons-1{
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: row;
  gap: 15px;
}

.botons-2{
  position: absolute;
  margin: 20px;
  cursor:pointer;
  top: 80%;
}

.btnRep{
  background: #000000;
  position: relative;
  border-radius: 100px;
  cursor: pointer;
  transition: all .3s ease;
}

.btnRep:hover{
  background: #373370;
}

.btnUp{
  background: #000000;
  position: relative;
  border-radius: 100px;
  cursor: pointer;
  transition: all .3s ease;
}

.btnUp:hover{
  background: #373370;
}

.window-controls {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  gap: 6px; 
}

#uploadMusicIcon{
  width: 50px;
  height: 50px;
}

.navigation ul li{
    text-align: center;
    list-style-type: none;
    bottom: 70px;
}

.nav_container {
  background-color: #463833;
  width: min(90%);
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.nav_link{
  
}


